    @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
    * {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    img {
        display: flex;
    }
    
    img:hover {
        transform: scale(1.1)
    }
    
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-image: url(./img/background.jpg);
        position: fixed;
        background-size: cover;
    }
    
    .outer-container {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .parent {
        display: flex;
        overflow: auto;
        width: 100%;
        height: 12%;
        background-color: rgba(0, 0, 0, 0.575);
        justify-content: center;
    }
    
    .container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        display: flex;
        height: 250px;
        width: 250px;
        position: absolute;
    }
    
    #logopng {
        width: 130px;
        height: 130px;
        margin-left: 15px;
        margin-top: 15px;
    }
    
    #header {
        position: relative;
        font-size: 90px;
        color: white;
        font-weight: bold;
        justify-content: center;
        font-family: O;
        letter-spacing: 3px;
    }
    
    nav {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.575);
        width: 100%;
    }
    
    nav ul {
        display: flex;
        margin: auto;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    
    .knap {
        height: 50px;
        margin: 8px 15px;
        width: 150px;
        padding: 0px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.575);
        color: white;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        border: none;
    }
    
    .knap:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
    
    a:visited {
        color: inherit;
        text-decoration: none;
    }
    /* Under knapperne */
    
    .footer {
        flex: 0 1 40px;
        display: flex;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.575);
        margin-left: 20px;
        margin-left: 0px;
    }
    
    .footer-tekst {
        color: white;
        position: fixed;
        bottom: 0;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    /* Midten */
    
    .parent-mid {
        display: flex;
        flex-grow: 1;
        height: 80vh;
        width: 1920px;
        margin: 0 0;
        padding: 0 0;
        background-color: rgba(0, 0, 0, 0.575);
    }
    
    .container-spillere {
        width: 25%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.575);
        border-radius: 20px;
        margin: auto;
        display: flex;
        text-align: center;
        display: inline-block;
    }
    
    .container-staff {
        width: 25%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.575);
        border-radius: 20px;
        margin: auto;
        margin-left: 125px;
        display: flex;
        text-align: center;
        display: inline-block;
    }
    
    .container-info {
        width: 25%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.575);
        border-radius: 20px;
        margin: auto;
        margin-right: 125px;
        display: flex;
        text-align: center;
        display: inline-block;
    }
    
    .container-guld {
        width: 25%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.575);
        border-radius: 20px;
        margin: auto;
        margin-left: 125px;
        display: flex;
        text-align: center;
        display: inline-block;
    }
    
    .container-info:hover {
        transform: scale(1.1);
    }
    
    .container-staff:hover {
        transform: scale(1.1);
    }
    
    .container-spillere:hover {
        transform: scale(1.1);
    }
    /* Staff Boks */
    
    .staff-h1 {
        display: flex;
        color: white;
        font-size: 38px;
        height: 15%;
        justify-content: center;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 3px;
        position: relative;
    }
    
    .staff-tekst {
        display: flex;
        color: white;
        font-size: 21px;
        height: 75%;
        justify-content: center;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 3px;
        word-break: break-all;
        display: inline-block;
        flex-direction: column;
        align-items: space-between;
    }
    
    .staff-medlem {
        margin-bottom: 15px;
    }
    /* Spillere Boks */
    
    .spillere-h1 {
        display: flex;
        color: white;
        font-size: 38px;
        height: 15%;
        justify-content: center;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 3px;
        position: relative;
    }
    /* Info Boks */
    
    .info-h1 {
        display: flex;
        color: white;
        font-size: 38px;
        height: 15%;
        justify-content: center;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 3px;
        position: relative;
    }
    
    .info-tekst {
        display: flex;
        color: white;
        font-size: 21px;
        justify-content: center;
        padding-top: 20px;
        padding-left: 6px;
        padding-right: 6px;
        /* word-break: break-all; */
    }
    /* Donation Side */
    
    .knap-buy {
        width: 110px;
        height: 55px;
        margin-top: 30px;
        background-color: rgba(12, 133, 32, 0.616);
        border: 0px;
        border-radius: 30px;
    }
    
    .knap-buy:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    
    h3 {
        font-size: 26px;
        font-weight: lighter;
        color: white;
    }
    
    .custom-tilbud {
        font-size: 17px;
        font-weight: bold;
        color: white;
        flex: 0 1 40px;
        display: flex;
        margin: auto;
        padding: 0 0;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }